@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
    --default-font: 'Rubik', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
    font-family: var(--default-font);
}

/* -----===[ CLASSES DE USU GERAL ]===----- */

.space {
    padding: 20px;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/* -----===[ /CLASSES DE USU GERAL ]===----- */