@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
    --default-font: 'Rubik', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
    font-family: var(--default-font);
}

/* -----===[ ESTILIZAÇÃO DO CABEÇALHO ]===----- */

header {
    background-color: #E3E3E3;
}

.logo-img {
    width: 152px;
    margin: 10px;
    transition: linear transform 0.1s;
}

.logo-img:hover {
    cursor: pointer;
    transform: scale(1.02);
}

/* -----===[ /ESTILIZAÇÃO DO CABEÇALHO ]===----- */

/* -----===[ ESTILIZAÇÃO DA MAIN ]===----- */

main {
    padding-top: 100px;
}

main form {
    padding-top: 50px;
}

.default-input {
    width: 50%;
    margin: 10px;
    padding: 8px;
    border: 3px solid #000000;
    border-radius: 10px;
    font-size: 18px;
}

.submit-button {
    padding: 10px 30px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: linear transform 0.1s;
}

.submit-button:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* -----===[ /ESTILIZAÇÃO DA MAIN ]===----- */